<div *ngIf="hero">
  <h2>{{hero.name}} details!</h2>
  <div>
    <label>id: </label>{{hero.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="hero.name" placeholder="name" />
   </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save11111111111</button>
  <button (click)="save()">Save22222222222</button>
   <button (click)="save()">Save6666666666666</button>
   <button (click)="save()">Save7777777777777</button>
  <button (click)="save()">Save33333333333</button>
  <button (click)="save()">Save44444444444</button>
</div>
